@use './colors' as *;
@use './themes' as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// border: 1px solid red;
}

html {
	font-size: 62.5%;
}

body {
	min-height: 100vh;
	font-family: 'Inter', sans-serif;
	font-size: 1.6rem;
	background-color: $white;
	// overflow: hidden;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1110px;
}

.hero-bg,
.hero-shadow {
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	min-height: 100vh;
}

.hero-bg {
	background-image: url('../img/mobile/bg-image-daytime.jpg');
	background-size: cover;
	background-position: 0 100%;
	background-repeat: no-repeat;
	z-index: -6;
}

.hero-shadow {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -5;
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2em 1.6em;
	min-height: 100vh;
	width: 100%;

	&__quote {
		display: grid;
		grid-template-columns: auto auto;
		column-gap: 1em;
		row-gap: 0.5em;
		max-width: 330px;

		&-text {
			grid-column: 1/2;
			grid-row: 1/2;
			font-size: 1.2rem;
			color: $white;
			line-height: 2.2rem;
		}

		&-btn {
			grid-column: 2/3;
			display: flex;
			align-self: start;
			padding: 0.5em;
			width: 35px;
			height: 35px;
			background: transparent;
			border: 2px dashed transparent;
			border-radius: 50%;
			cursor: pointer;
			transition: transform 0.5s;

			&:hover {
				transform: rotate(360deg);
			}

			&:focus {
				outline: none;
				border: 2px dashed $white;
			}
		}

		&-author {
			grid-row: 2/3;
			font-size: 1.2rem;
			color: $white;
			font-weight: 700;
		}
	}

	&__clock {
		&-greeting {
			display: flex;
			align-items: center;
			line-height: 2.5rem;

			&-img {
				margin-right: 1em;
			}

			&-text {
				font-size: 1.5rem;
				color: $white;
				text-transform: uppercase;
				letter-spacing: 3px;

				span {
					display: none;
				}
			}
		}

		&-box {
			display: flex;
			align-items: flex-end;
		}

		&-time {
			font-size: 10rem;
			font-weight: 700;
			width: max-content;
			color: $white;
			letter-spacing: -2.5px;
			line-height: 1em;
		}

		&-period {
			color: $white;
			font-size: 1.5rem;
			font-weight: 400;
			text-transform: uppercase;
			line-height: 2.8rem;
		}

		&-city {
			font-size: 1.5rem;
			color: $white;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 3px;
			line-height: 2.8rem;
		}

		&-btn {
			display: flex;
			align-items: center;
			margin-top: 3em;
			padding: 4px;
			max-width: max-content;
			background-color: $white;
			border-radius: 2em;
			cursor: pointer;

			&:hover,
			&:focus {
				.app__clock-btn-circle {
					background-color: #999;
				}
			}

			&-text {
				padding: 0 14px;
				font-size: 1.2rem;
				color: $black;
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: 3.75px;
				opacity: 0.5;
			}

			&-circle {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 32px;
				height: 32px;
				background-color: $dark-gray;
				border-radius: 50%;
				transition: background-color 0.3s;
			}
		}
	}
}

.app-bottom {
	position: fixed;
	right: 0;
	left: 0;
	display: block;
	background-color: rgba(255, 255, 255, 0.75);
	backdrop-filter: blur(20.3871px);

	.wrapper {
		display: grid;
		row-gap: 1.8rem;
		padding: 3em 1.6em;
		background-color: transparent;
	}

	&__box {
		display: flex;
		justify-content: space-between;

		&-title {
			font-size: 1rem;
			color: $dark-gray;
			text-transform: uppercase;
			letter-spacing: 2px;
			line-height: 2.8rem;
		}

		&-data {
			font-size: 2rem;
			color: $black;
			font-weight: 700;
		}
	}
}

@media (min-width: 768px) {
	.hero-bg {
		background-image: url('../img/tablet/bg-image-daytime.jpg');
	}

	.app {
		padding: 5em 4em 4em;

		&__quote {
			row-gap: 0.8em;
			max-width: 590px;

			&-text {
				font-size: 1.8rem;
				line-height: 2.8rem;
			}

			&-author {
				font-size: 1.8rem;
				line-height: 2.8rem;
			}
		}

		&__clock {
			&-greeting {
				line-height: 2.8rem;

				&-text {
					font-size: 1.8rem;
					letter-spacing: 3.6px;
					span {
						display: inline-block;
					}
				}
			}

			&-time {
				font-size: 17.5rem;
				letter-spacing: -4.5px;

				span {
					font-size: 3.2rem;
				}
			}

			&-city {
				font-size: 1.8rem;
				letter-spacing: 3.6px;
			}

			&-btn {
				margin-top: 5.5em;
				padding: 8px 9px;

				&-text {
					padding: 0 13px;
					font-size: 1.6rem;
					letter-spacing: 3.75px;
				}

				&-circle {
					width: 40px;
					height: 40px;
				}
			}
		}
	}

	.app-bottom {
		.wrapper {
			grid-template-columns: auto auto;
			justify-content: space-between;
			row-gap: 4.8rem;
			column-gap: 8rem;
			padding: 7.5em 4em;
		}

		&__box {
			flex-direction: column;

			&-title {
				font-size: 1.3rem;
				letter-spacing: 2.6px;
			}

			&-data {
				font-size: 4rem;
			}
		}
	}
}

@media (min-width: 992px) {
	.hero-bg {
		background-image: url('../img/desktop/bg-image-daytime.jpg');
	}

	.app {
		padding: 3.5em 3em 6em;

		&__clock {
			position: relative;

			&-greeting {
				&-text {
					font-size: 2rem;
					letter-spacing: 4px;
				}
			}

			&-time {
				font-size: 20rem;
				letter-spacing: -5px;

				span {
					font-size: 3.2rem;
				}
			}

			&-city {
				font-size: 2.4rem;
				letter-spacing: 4.8px;
			}

			&-btn {
				position: absolute;
				bottom: 0;
				right: 0;
				margin-top: 0;
				padding: 8px 9px;

				&-text {
					letter-spacing: 5px;
				}
			}
		}
	}

	.app-bottom {
		.wrapper {
			row-gap: 4.2rem;
			padding: 4.6em 3em;
		}

		&__box {
			flex-direction: column;
			row-gap: 0.8rem;

			&-title {
				font-size: 1.5rem;
				letter-spacing: 3px;
			}

			&-data {
				font-size: 5.6rem;
			}
		}
	}
}
@media (min-width: 1200px) {
	.hero-bg {
		background-image: url('../img/desktop/bg-image-daytime.jpg');
	}

	.app {
		padding: 3.5em 0 6em;
	}

	.app-bottom {
		.wrapper {
			padding: 4.6em 0;
		}
	}
}
